.blue {
  background-color: blue;
}

.green {
  background-color: green;
}

.red {
  background-color: red;
}

.yellow {
    background-color: yellow;
}

.oragne {
    background-color: orange;
}

.center {
    padding-top: 200px;
    padding-left: 400px;
    padding-right: 400px;
}